body {
background: #CC95C0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#contentWrap {
    display: none;
}

.error {
    color: red;
}

.whisper {
    color: gray;
    font-style: italic;
}


.column {
	width: 450px;
    max-width: 90vw;
}

@media only screen and (min-width: 600px) {
	.column {
		max-width: 450px;
	}
}

.ui.menu .item{
	color:  white;
	font-size: 1.2rem;
}

#chat {
	max-height: 250px;
	overflow-y:  auto;

}


